.ZONE{
    display: grid;
    grid-template-columns: repeat(1, 2fr);
 
}
body{
    margin: none;
    background-color : black;

}
/*MENU*/
.menu{
    grid-row:1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left : 60%;
    margin-right : 0%;
    width : 100px;
    text-align : center;
    font-family : "Gill Sans", sans-serif;
}
.portrait{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.portrait:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}
.paysage{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.paysage:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}
.decor{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.decor:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}
.animaux{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.animaux:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}
.event{
    padding : 3%;
    width : 100px;
    text-decoration:none;
    color : white;
}
.event:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}

/*ZONE*/
.zone1{
    grid-row:1;
    background: no-repeat center 0 fixed url("../photos/portraits/H/H1.jpeg");
    opacity : 0.7;
    background-position: center center;
    background-size: cover;
    min-height: 900px;
    
}
div.texte{
    padding-top : 14%;
    color: whitesmoke;
    text-align : center;
    font-family : Courier, monospace;
}
.titre{
    font-size : 6.3em;
    
}
.citation{
    font-size:1.5em;
}
.zone2{
    grid-row:2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: no-repeat center 0 fixed url("../photos/paysage/H/H1.JPG");
    background-position: center center;
    background-size: cover;
    min-height: 750px;
    text-align : center;
    font-family : Courier, monospace;
}
.explication{
    grid-column : 1;
    background-color : #8C8B8B;
    font-size : 1.2em;
    margin : auto;
    width : 52%;
    height : 32%;
    padding : 3%;
    background-color: RGBA(255, 255, 255, 0.2);
    box-shadow: 10px 5px 5px #010101;
    
}
.musique{
    grid-column : 2;
    background-color : #8C8B8B;
    font-size : 1.2em;
    margin : auto;
    width : 52%;
    height : 32%;
    padding : 3%;
    background-color: RGBA(255, 255, 255, 0.2);
    box-shadow: 10px 5px 5px #010101;
}
.haut{
    background-color : #ACAAAA;
    font-weight: bold;
    font-size : 1.4em;
    color : white;
    width : 100%;
    box-shadow: 10px 5px 5px #6D6C6C;
}
.info{
    padding-top : 4%;
    color : white;
    padding-bottom : 4%;
}
.bas{
    color : white;
    background-color : #ACAAAA;
    width : 100%;
    font-weight: bold;
    box-shadow: 10px 5px 5px #8A8888;
    
}
.bas:hover{
    text-decoration: underline white;
    transform: scale(1.15);
}
a{
    text-decoration : none;
}
