body{
    background-color: black;
}
.menu{
    grid-row:1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left : 15%;
    margin-right : 15%; 
    text-align : center;
    font-family : "Gill Sans", sans-serif;
    background-color: RGBA(255, 255, 255, 0.6);
    position : fixed;
    right : 0%;
    left : 0%;
    z-index : 3;
    
}
.index{
    padding : 3%;
    width : 100px;
    color : #000;
    text-decoration:none;
    
}
.index:hover{
    text-decoration: underline #000;
    transform: scale(1.15);
}
.portrait{
    padding : 3%;
    width : 100px;
    color : #000;
    text-decoration:none;
}
.portrait:hover{
    text-decoration: underline #000;
    transform: scale(1.15);
}
.ville{
    padding : 3%;
    width : 100px;
    color : #000;
    text-decoration:none;
}
.ville:hover{
    text-decoration: underline #000;
    transform: scale(1.15);
}
.decor{
    padding : 3%;
    width : 100px;
    color : #000;
    text-decoration:none;
}
.decor:hover{
    text-decoration: underline #000;
    transform: scale(1.15);
}
.animaux{
    padding : 3%;
    width : 100px;
    color : #000;
    text-decoration:none;
}
.animaux:hover{
    text-decoration: underline #000;
    transform: scale(1.15);
}
.event{
    padding : 3%;
    width : 100px;
    color : #000;
    text-decoration:none;
}
.event:hover{
    text-decoration: underline #000;
    transform: scale(1.15);
}
#fle{
    position : fixed;
    width : 3%;
    z-index : 3;
    margin-left : 95%;
}



/*PARTI PHOTO*/
.PORTRAIT{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    margin : 2%;
    
}

img{
    max-width : 100%;
    z-index : 1;
   
}
img:hover{
    max-width: 100%;
    height: auto;
    transform: scale(1.1);
    opacity : 0.9;
    transition : 2s;
    z-index : 2;
}

/* ADAPT TELEPHONE */

@media only screen and (max-width:800px) {
    .PORTRAIT{
        display : grid;
        grid-template-columns: repeat(2, 2fr);
        margin : 2%;
    }
   }





